[Unit]
Description=irrigation
After=rc-local.service blaster.service


[Service]
Type=simple
EnvironmentFile=
WorkingDirectory=/home/pi/irrigation
ExecStart=/usr/local/bin/irrigation 
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=irr.service
